* {
    margin: 0;
    padding: 0;
}
.container {
    font-family: 'Roboto', sans-serif;
}
.appWeather {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.city {
    padding-top: 20px; 
    font-size: 32px;
    font-weight: bold;
}
.currentWeather {
    margin: 20px 0px;
}
.currentDayName {
    font-size: 32px;
    font-weight: lighter;
}
.currentTemperature {
    display: inline-block;
    position: relative;
    font-size: 100px;
}
.currentTemperature::after {
    content: '°';
    position: absolute;
    right: -38px;
}
.currentState {
    font-size: 20px;
    color: gray;
}
.nextDaysList {
    display: flex;
    list-style: none;
    padding-bottom: 20px;
}
.nextDay {
    border-right: 1px solid;
    padding: 0px 15px;
}
.nextDay:last-of-type {
    border: none;
}
.nextDay img {
    margin: 5px 0px;
}
.nextDayName {
    font-weight: bold;
}
.nextTemperature {
    font-size: 18px;
    font-weight: bold;
    position: relative;
}
.nextTemperature::after {
    content: '°';
    position: absolute;
    right: -8px;
}